<p>
  {{loginText}}
</p>

<div class="row space">
  <div class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Login" id="name" [(ngModel)]="name" type="text" class="validate">
    </div>
  </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Password" id="password" type="password" [(ngModel)]="password" class="validate">
      </div>
    </div>
    <a class="waves-effect waves-light btn" (click)="login()">Zaloguj</a>
  </div>
</div>
