<nav>
  <div class="nav-wrapper">
    <ul *ngIf="canShowWeather()" id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLink="/weather">Pogoda</li>
    </ul>
    <ul *ngIf="!canShowWeather()" id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLink="/login">Logowanie</li>
    </ul>
    <ul *ngIf="canShowWeather()" id="nav-mobile" class="left hide-on-med-and-down">
      <li (click)="logOut()">Wyloguj</li>
    </ul>
  </div>
</nav>
