<h1>Prognoza Pogody</h1>

<div *ngIf="canShowWeather()">
  <div class="row">
    <div class="input-field col s6">
      <input value="miasto" type="text" [(ngModel)]="selectedCity" class="validate">
    </div>
  </div>
  <a class="waves-effect waves-light btn" (click)="getWeather()">Sprawdz</a>

  <span *ngIf="canRefreshWeather()">
    <a class="waves-effect waves-light btn" (click)="refreshWeather()">Odśwież</a>
  </span>

  <p>{{weatherCallback}}</p>

  <div *ngIf="weather != null">
    <table>
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Wartosc</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Miasto</td>
        <td>{{weather.city}}</td>
      </tr>
      <tr>
        <td>Pogoda</td>
        <td>{{weather.weatherType}}</td>
      </tr>
      <tr>
        <td>Temperatura</td>
        <td>{{weather.temperature}}</td>
      </tr>
      <tr>
        <td>Cisnienie</td>
        <td>{{weather.pressure}}</td>
      </tr>
      <tr>
        <td>Wilgotność</td>
        <td>{{weather.humidity}}</td>
      </tr>
      <tr>
        <td>Prędkość Wiatru</td>
        <td>{{weather.windSpeed}}</td>
      </tr>
      <tr>
        <td>Kierunek Wiatru</td>
        <td>{{weather.windDegree}}</td>
      </tr>
      <tr>
        <td>Zachmurzenie</td>
        <td>{{weather.cloudsPercentage}}</td>
      </tr>
      <tr>
        <td>Opady Deszczu</td>
        <td>{{weather.rain}}</td>
      </tr>
      <tr>
        <td>Opady Śniegu</td>
        <td>{{weather.snow}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!canShowWeather()">
  Nie masz uprawnien do przegladania tej strony!
</div>
